<%- include('../partials/header') %> 

<div class="container">
    <div class="row">
        <br>
        <br>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-4">
            <img src=<%= book.imageUrl %> >
        </div>
        <div class="col-4">
            <h3><%= book.title %> </h3>
            <h5><%= book.author %> </h5>
            <p><%= book.description %> </p>
            <ul>
                <li><%= book.genre %> </li>
                <li><%= book.pageCount %> pages</li>
                <li><%= book.releaseYear %> </li>
                <br>
                <% if (user) { %>
                    <% if (!book.onTbr.includes(user._id)) { %> 
                        <form action="/books/<%= book._id %>/tbr" method="POST">
                            <button id="tbr" type="submit">ADD TO TBR</button>
                        </form>
                    <% } else { %>
                        <p>delete from tbr button goes here</p>
                    <% } %>  
                    <% if (!book.usersReading.includes(user._id)) { %> 
                        <form action="/books/<%= book._id %>/shelf" method="POST">
                            <button id="shelf" type="submit">ADD TO BOOKSHELF</button>
                        </form>    
                    <% } else { %>   
                        <p>delete from bookshelf button goes here</p>
                    <% } %> 
                <% } %> 
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <br>
        <br>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="review-banner">Reviews for <%= book.title %> </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <br>
        <br>
    </div>
    <% if (book.reviews.length) { %> 
        <% book.reviews.forEach(function(r) { %>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row">
                            <div class="col-md-4 review-user">
                                <img class="profile-pic" src="<%= r.userAvatar %>">
                                <br>
                                <p class="mt-2 mb-0"><%= r.userName %></h3>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title"><%= r.rating %>.0</h5>
                                    <p class="card-text"><%= r.content %></p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <%= r.createdAt.toLocaleDateString() %>
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <% if (user && user._id.equals(r.user)) { %>
                                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                        <button type="submit">X</button>
                                    </form>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>   
            </div>
        <% }); %>

        <% } else { %> 
            <h5>No Reviews Yet</h5>
        <% } %> 
        
</div>

<div class="container">
    <div class="col-md-12">
        <div class="row justify-content-center">
            <div class="card">
                <h1>review box goes here</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
        <div class="col-md-12">
            <div class="container-fluid px-1 py-5 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                        <div class="card review-card">
                            <div class="row d-flex">
                                <% if (user) { %> 
                                    <form id="add-review" method="POST" action="/books/<%= book._id %>/reviews">
                                        <h3>Leave a review for <%= book.title %> </h3>
                                        <label>Review:</label>
                                        <br>
                                        <textarea name="content"></textarea>
                                        <br>
                                        <label>Rating:</label>
                                        <br>
                                        <select name="rating">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                        <br>
                                        <input type="submit" value="Leave Review">
                                    </form>
                                <% } else { %> 
                                    <h5>Log in to leave a review</h5>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>








<%- include('../partials/footer') %> 