<%- include('../partials/header') %> 

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src=<%= book.imageUrl %> >
        </div>
        <div class="col-md-6">
            <h3><%= book.title %> </h3>
            <h4><%= book.author %> </h4>
            <p><%= book.description %> </p>
            <ul>
                <li><%= book.releaseYear %> </li>
                <li><%= book.pageCount %> pages</li>
                <li><%= book.genre %> </li>
            </ul>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row">
            <h1>Reviews for <%= book.title %> </h1>
        </div>
    </div>
</div>

<div class="container">
    <form id="add-review" method="POST" action="/books/<%= book._id %>/reviews">
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <input type="submit" value="Leave Review">
    </form>

    <% if (book.reviews.length) { %> 
        <table>
            <thead>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    <% } %> 

</div>








<%- include('../partials/footer') %> 