<%- include('../partials/header') %> 

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src=<%= book.imageUrl %> >
        </div>
        <div class="col-md-6">
            <h3><%= book.title %> </h3>
            <h4><%= book.author %> </h4>
            <p><%= book.description %> </p>
            <ul>
                <li><%= book.releaseYear %> </li>
                <li><%= book.pageCount %> pages</li>
                <li><%= book.genre %> </li>
                <% if (user) { %>
                    <form action="/books/<%= book._id %>/tbr" method="POST">
                        <button id="tbr" type="submit">ADD TO TBR</button>
                    </form>   
                <% } %> 
            </ul>
        </div>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row">
            <h1>Reviews for <%= book.title %> </h1>
        </div>
    </div>
</div>

<div class="container">
    <% if (user) { %> 
        <form id="add-review" method="POST" action="/books/<%= book._id %>/reviews">
            <label>Review:</label>
            <textarea name="content"></textarea>
            <label>Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            <input type="submit" value="Leave Review">
        </form>
    <% } else { %> 
        <h5>Log in to leave a review</h5>
    <% } %> 


    <% if (book.reviews.length) { %> 
        <div class="container-fluid px-1 py-5 mx-auto">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
                    <div class="card">
                        <div class="row justify-content-left d-flex">
                            <div class="col-md-4 d-flex flex-column">
                                <div class="rating-box">
                                    <h1 class="pt-4">4.0</h1>
                                    <p class="">out of 5</p>
                                </div>
                                <div> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> </div>
                            </div>
                            <div class="col-md-8">
                                <div class="rating-bar0 justify-content-center">
                                    <table class="text-left mx-auto">
                                        <tr>
                                            <td class="rating-label">Excellent</td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="bar-5"></div>
                                                </div>
                                            </td>
                                            <td class="text-right">123</td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label">Good</td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="bar-4"></div>
                                                </div>
                                            </td>
                                            <td class="text-right">23</td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label">Average</td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="bar-3"></div>
                                                </div>
                                            </td>
                                            <td class="text-right">10</td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label">Poor</td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="bar-2"></div>
                                                </div>
                                            </td>
                                            <td class="text-right">3</td>
                                        </tr>
                                        <tr>
                                            <td class="rating-label">Terrible</td>
                                            <td class="rating-bar">
                                                <div class="bar-container">
                                                    <div class="bar-1"></div>
                                                </div>
                                            </td>
                                            <td class="text-right">0</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% book.reviews.forEach(function(r) { %>
                    <div class="card review-card">
                        <div class="row d-flex">
                            <div class=""> <img class="profile-pic" src="<%= r.userAvatar %>"> </div>
                            <div class="d-flex flex-column">
                                <h3 class="mt-2 mb-0"><%= r.userName %></h3>
                                <div>
                                    <p class="text-left"><span class="text-muted"><%= r.rating %> </span> <span class="fa fa-star star-active ml-3"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
                                </div>
                            </div>
                            <div class="ml-auto">
                                <p class="text-muted pt-5 pt-sm-3"><%= r.createdAt.toLocaleDateString() %></p>
                            </div>
                        </div>
                        <div class="row text-left">
                            <p class="content"><%= r.content %></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>


    <% } else { %> 
        <h5>No Reviews Yet</h5>
    <% } %> 


    <% if (book.reviews.length) { %> 
        <table>
            <thead>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
                <th></th>
            </thead>
            <tbody>
                <% let total = 0 %>
                <% book.reviews.forEach(function(r) { %>
                    <% total += r.rating %>
                    <tr>
                        <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>">
                            <%= r.userName %>
                        </td>
                        <td>
                            <%= r.createdAt.toLocaleDateString() %> 
                        </td>
                        <td>
                            <%= r.content %> 
                        </td>
                        <td>
                            <%= r.rating %> 
                        </td>
                        <td>
                            <% if (user && user._id.equals(r.user)) { %>
                                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                    <button type="submit">X</button>
                                </form>
                            <% } %> 
                        </td>
                    </tr>  
                    <% }); %> 
                    <tr>
                        <td colspan="3"></td>
                        <td><strong><%= (total / book.reviews.length).toFixed(1) %> </strong></td>
                    </tr>
            </tbody>
        </table>
    <% } else { %> 
        <h5>No Reviews Yet</h5>
    <% } %> 

</div>








<%- include('../partials/footer') %> 