<%- include('../partials/header') %> 

<div class="container">
    <div class="row">
        <br>
        <br>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-4">
            <img width="300px" src=<%= book.imageUrl %> >
        </div>
        <div class="col-4">
            <h3><%= book.title %> </h3>
            <h5><%= book.author %> </h5>
            <p><%= book.description %> </p>
            <ul>
                <li><%= book.genre %> </li>
                <li><%= book.pageCount %> pages</li>
                <li><%= book.releaseYear %> </li>
                <br>
            </ul>
            <% if (user) { %>
                <% if (!book.onTbr.includes(user._id)) { %> 
                    <form action="/books/<%= book._id %>/tbr" method="POST">
                        <button id="tbr" type="submit">ADD TO TBR</button>
                    </form>
                <% } else { %>
                    <form action="/books/<%= book._id %>/tbr/<%= user._id %>?_method=DELETE" method="POST">
                        <button>REMOVE FROM TBR</button>
                    </form>
                <% } %>
                <br>  
                <% if (!book.usersReading.includes(user._id)) { %> 
                    <form action="/books/<%= book._id %>/shelf" method="POST">
                        <button id="shelf" type="submit">ADD TO BOOKSHELF</button>
                    </form>    
                <% } else { %>   
                    <form action="/books/<%= book._id %>/shelf/<%= user._id %>?_method=DELETE" method="POST">
                        <button id="remove-book">REMOVE FROM BOOKSHELF</button>
                    </form>
                <% } %> 
            <% } %> 
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <br>
        <br>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="review-banner">Reviews for <%= book.title %> </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card mb-3 leave-review-card">
                <% if (user) { %> 
                    <div class="row">
                        <div class="col-12" id="leave-review-text">
                            <h3>Leave a review for <%= book.title %></h3>
                        </div>
                    </div>
                    <form id="add-review" method="POST" action="/books/<%= book._id %>/reviews">
                        <div class="row">
                            <div class="col-md-10">
                                <textarea name="content"></textarea>
                            </div>
                            <div class="col-md-2">
                                <label>Rating:</label>
                                <br>
                                <select name="rating">
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" id="submit-review-col">
                                <input id="submit-review" type="submit" value="Leave Review">
                            </div>
                        </div>
                    </form>
                <% } else { %>
                    <br>
                    <br>
                    <br>
                    <h5>Log in to leave a review</h5>
                    <br>
                    <a class="login-link" href="/auth/google">LOG IN&nbsp;</a>
                    <br>
                <% } %>  
            </div>
        </div>
        <div class="col-2"></div>   
    </div>

    <% if (book.reviews.length) { %> 
        <% book.reviews.forEach(function(r) { %>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-3 review-user">
                                <img class="profile-pic" src="<%= r.userAvatar %>">
                                <br>
                                <p class="mt-2 mb-0"><%= r.userName %></h3>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title"><%= r.rating %>.0</h5>
                                    <p class="card-text"><%= r.content %></p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <%= r.createdAt.toLocaleDateString() %>
                                        </small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <% if (user && user._id.equals(r.user)) { %>
                                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                                        <button type="submit" id="delete-review">X</button>
                                    </form>
                                <% } %> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>   
            </div>
        <% }); %>

        <% } else { %> 
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 no-reviews">
                    <h5>No Reviews Yet</h5>
                </div>
                <div class="col-3"></div>
            </div>
        <% } %> 
        
</div>


<%- include('../partials/footer') %> 