<%- include('../partials/header') %> 

<br>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="review-banner">My Bookshelf</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <br>
        <% books.forEach(function(b) { %>
            <% if (b.usersReading.includes(user._id)) { %> 
                <div class="col-md-3">
                    <br>
                    <div class="card">
                        <img class="card-img-top" src="<%= b.imageUrl %>" alt="<%= b.title %> Cover">
                        <div class="card-body index-card">
                            <h5 class="card-title"><%= b.title %></h5>
                            <p class="card-text"><%= b.author %> </p>
                            <a href="/books/<%= b._id %>">DETAILS</a>
                        </div>
                    </div>
                    <br>
                </div>
            <% } %>
        <% }); %>
        </br>
    </div>
</div>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="review-banner">My TBR</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <% books.forEach(function(b) { %>
            <% if (b.onTbr.includes(user._id)) { %> 
                <div class="col-md-3">
                    <br>
                    <div class="card">
                        <img class="card-img-top" src="<%= b.imageUrl %>" alt="<%= b.title %> Cover">
                        <div class="card-body index-card">
                            <h5 class="card-title"><%= b.title %></h5>
                            <p class="card-text"><%= b.author %> </p>
                            <a href="/books/<%= b._id %>">DETAILS</a>
                        </div>
                    </div>
                    <br>
                </div>
            <% } %>
        <% }); %> 
    </div>
</div>


<%- include('../partials/footer') %> 